@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.html{
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    background-position: center;
    background-size:cover;
}

#nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 7rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}

#nav-bar img{
    width: 37px;
    height: 56px;
}

#nav-bar h5{
    color:#004C1F;
    margin-left: -200px;
}

#nav-bar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

#nav-bar ul li a{
    text-decoration: none;
    color: black;
}

#nav-bar ul li a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    position: relative;
    top: -5px;
    transition: 2s;
}

#btn-1{
    border: 3px solid green;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (94px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 34px;
    border: 2px solid #004C1F ;
    }

    #btn-1:hover{
        background-color:#004C1F;
        color:#FFFFFF;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (94px)px;
        height: Hug (40px)px;
        padding: 8px 16px 8px 16px;
        gap: 4px;
        border-radius: 34px;
        border: 2px solid #004C1F ;
        transition: 0.3s;
        }

#btn-2{
    border:none;
    background-color: #004C1F;
    color:#EBFDD3;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

#btn-2:hover{
    border:2px solid #004C1F;
    background-color: #FFFFFF;
    color:#004C1F;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

#nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 2rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid #004C1F;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}


/* #nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 2rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid #004C1F;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}

#nav-bar img{
    width: 37px;
    height: 56px;
}

#nav-bar h5{
    color:#004C1F;
    margin-left: -225px;
}

#nav-bar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

#nav-bar ul li a{
    text-decoration: none;
    color: black;
}

#nav-bar ul li a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    position: relative;
    top: -5px;
    transition: 2s;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info p,i{
    margin-right: 15px;
    width: Hug (156px)px;
    height: Hug (52px)px;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#2E2E2E;
}

.user-info i {
    background-color: #004C1F;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;
    color: #FFFF;
}

.user-info img{
    border-radius: 50%;
} */

.my-blog{
    margin-left: 12rem;
    margin-right: 12rem;
}

.my-blog h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #2E2E2E;
}

#blog{
    display: flex;
    justify-content: space-between;
}

.blog-1 img{
    width: 365.51px;
    height: 362.56px;
    top: 3869.76px;
    left: 140.58px;
    gap: 0px;
    border-radius: 24px;
    color: #EFEFEF;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-1 h1{
    font-size: 23.64px;
    font-weight: 600;
    line-height: 35.47px;
    text-align: left;
    margin-bottom: 10px;
}

.blog-1 h5{
    font-family: Poppins;
    font-size: 15.76px;
    font-weight: 400;
    line-height: 23.64px;
    text-align: left;
    color: #4E4E4E;
    margin-bottom: 10px;
}

.blog-1 a{
    text-decoration: none;
    color: #2E2E2E;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.blog-1 a:hover{
    color: #004C1F;
    font-size: 18px;
    transition: 0.2s;
}

/* .pagination{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: 380px;
    text-align: center;
    margin-top: 90px;
    height: 44px;
    top: 1545px;
    left: 603px;
    gap: 8px;
}

.pagination a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: #6E6E6E;
    padding-right: 10px;
}

#active{
    background-color: #004C1F;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
} */

#arrow{
    text-decoration: none;
    font-size:24px;
    font-weight: 600;
}

.footer{
    background-color:#D7E5BE;
    margin-top: 40px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.footer-info-1{
    padding-left: 300px;
    display: flex;
}

.footer-info-1 a{
    text-decoration: none;
    color: #060606;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    padding-right: 150px;
}

.footer-info-1 a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    transition: 0.2s;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    padding-right: 150px;
}


.footer-info-2{
    display: flex;
    flex-direction: row;
    padding-left: 420px;
    background-color: #D7E5BE;
    padding-top: 40px;
}

.footer-info-2-link{
    display: flex;
    flex-direction: column;
}

.footer-info-2-link a{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.footer-info-2-link a:hover{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #004C1F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.footer-info-2-link-contact{
    display: flex;
    flex-direction: column;
    margin-left: -35px;
    margin-right:95px ;
}

.footer-info-2-link-contact a{
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer-info-2-link-contact a:hover{
    padding-bottom: 10px;
    color: #004C1F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}


.footer-info-2-link-newsletter{
    display: flex;
    flex-direction: column;
}   

.footer-info-2-link-newsletter input{
    border: none;
    width: 360.58px;
    height: 60.1px;
    top: 205px;
    left: 941px;
    padding: 14.78px 37.44px 13.79px 31.53px;
    border-radius: 16px;
    outline: none;    
}

.footer-info-2-link-newsletter::placeholder{
    font-size: 15.76px;
    font-weight: 400;
    line-height: 23.64px;
    text-align: left;
    color: #000000;
}


.footer-info-2-link-newsletter a{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}   

#newsletter-button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

#subscribe{
    display: flex;
    flex-direction: column;
}

.subscribe-btn{
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding: 40px;
    border: 2px solid #2E2E2E;
    background-color:#004C1F;
    color:#FFFFFF;
    width: 50px;
    height: 39.76px;
    padding: 7.88px 15.76px 7.88px 15.76px;
    gap: 7.88px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-detail{
    color: #060606;
    font-size: 15.76px;
    font-weight: 500;
    line-height: 23.64px;
    text-align: left;
    background-color:#D7E5BE;
    color: #060606;
    padding-left: 20px;
    padding-bottom: 20px;
    padding: 30px;
    font-weight: bold;
}

.footer img{
    margin-left: 20px;
    width: 37px;
    height: 56px;
}

