@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.html{
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    background-position: center;
    background-size:cover;
}


#nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 7rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}

#nav-bar img{
    width: 37px;
    height: 56px;
}

#nav-bar h5{
    color:#004C1F;
    margin-left: -200px;
}

#nav-bar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

#nav-bar ul li a{
    text-decoration: none;
    color: black;
}

#nav-bar ul li a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    position: relative;
    top: -5px;
    transition: 2s;
}

#btn-1{
    border: 3px solid green;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (94px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 34px;
    border: 2px solid #004C1F ;
    }

    #btn-1:hover{
        background-color:#004C1F;
        color:#FFFFFF;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (94px)px;
        height: Hug (40px)px;
        padding: 8px 16px 8px 16px;
        gap: 4px;
        border-radius: 34px;
        border: 2px solid #004C1F ;
        transition: 0.3s;
        }

#btn-2{
    border:none;
    background-color: #004C1F;
    color:#EBFDD3;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

#btn-2:hover{
    border:2px solid #004C1F;
    background-color: #FFFFFF;
    color:#004C1F;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

#nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 2rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid #004C1F;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}


#first-info{
    margin-left: 12rem;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #2E2E2E;
}

nav{
    margin-top: 40px;
    width: Fixed (958px)px;
    height: Hug (72px)px;
    top: 240px;
    left: 223.5px;
    padding: 17px;
    padding-right: 20px;
    gap: 188px;
    border-radius: 48px;
    background-color: #F3F4E5;
    margin-left: 16rem;
    margin-right: 16rem;

}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
}

nav ul li{
    list-style-type:none ;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #004C1F;
}

nav ul li:hover{
    background-color: #004C1F;
    color: #E6E6E6;
    padding: 5px;
    transition: 0.2s;
    border-radius: 10px;
}

.user-info img{
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

#first-element{
    width: 120px;
    height: 38px;
    gap: 0px;
    border-radius: 8px;
    background-color: #004C1F;
    color: #F3F4E5;
    text-align: center;
}

.frame-4-img img{ 
    width: 100%;
    height: 90%;
    margin: 20px;
    border-radius: 16px;
}

.frame-4{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #2E2E2E;
    border-radius: 24px;    
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 4rem;
    color: #FFFF;
}

.frame-4-info {
    padding: 40px;
}

.frame-4-info h3{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
}

.frame-4-info h4{
    padding-top: 15px;
    color: #E6E6E6;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.frame-4-info h5{
    font-size: 16px;
    padding-top: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #E6E6E6;

}

.learn-btn {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding: 40px;
    border: 2px solid #F3F4E5;
    background-color:transparent;
    color: #F3F4E5;
    width: 127.17px;
    height: 39.76px;
    padding: 7.88px 15.76px 7.88px 15.76px;
    gap: 7.88px;
    border-radius: 41.38px;
    cursor: pointer;
}

.learn-btn:hover {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding: 40px;
    border: 2px solid #004C1F;
    background-color:#004C1F;
    color: #FFFFFF;
    width: 128.17px;
    height: 40.76px;
    padding: 7.88px 15.76px 7.88px 15.76px;
    gap: 7.88px;
    border-radius: 41.38px;
    cursor: pointer;
    transition: 0.3s;
}
    
    
.arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.see-products a{
    text-decoration: none;
    color:#2E2E2E;
    font-weight: 600;
}

.see-products a:hover{
    color: #004C1F;
    font-weight: bold;
    transition: 0.2s;
}

.frame-4-img img{
    width: 539px;
    height: 352px;
    border-radius: 16px;    
}

.product-1{
    width: 371px;
    height: 520px;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-1:hover{
    width: 371px;
    height: 520px;
    border-radius: 16px;
    transform: scale(1.05);
}

.product-1 img{
    width: 400px;
    height: 520px;
    border-radius: 16px;    
}

.product-1 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #2E2E2E;
    position: relative;
    top: 60px;
    padding-left: 30px;
}

.product-1 i{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #2E2E2E;
    position: relative;
    bottom: 40px;
    padding-left: 30px;
    cursor: pointer;
}

.product-1 a{
    text-decoration: none;
}

.growth-plan-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12rem 4rem 12rem ;    
}

.my-cart{
    display: flex;
    margin:5rem 12rem 1rem 12rem;
}

.my-cart img{
    width: 568px;
    height: 411px;
    border-radius: 16px;
    margin-right: 30px;
}

.five-star{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.five-star h3,i{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFA500; 
    padding-right:10px ;
}

.five-star h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color:#6E6E6E;
}


.div-1 p{
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #2E2E2E;
}

.div-1 h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4E4E4E;
}

.counter-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 30px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #D7E5BE;
    color: #060606;
    border: none;
    border-radius: 5px;
}

#purchase-button{
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #004C1F;
    color: #D7E5BE;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#purchase-button:hover{
        background-color: #1a6939;
        color: #F3F4E5;
}

button:hover {
    background-color: #1a6939;
    color: #F3F4E5;
}

#numberDisplay {
    font-size: 24px;
    margin: 0 15px;
    width: 50px;
    text-align: center;
}

.sub-nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin:3rem 12rem 0.2rem 12rem;
    width: 1000px;
    justify-content: space-between;
}

.sub-nav ul li{
    margin-right: 10px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #6E6E6E;
}

.nav-link {
    text-decoration: none;
    color:#6E6E6E;
    padding: 10px 0;
    position: relative;
    display: inline-block;
}

/* Add underline on hover */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #1a6939;
    color: #004C1F;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

hr{
    width: 1200px;
    height: 4px;
    margin-left: 12rem;
}

/* Hover state */
.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #1a6939;
    color: #004C1F;
}

/* Active state */
.nav-link.active::after {
    width: 100%;
    left: 0;
    background:#1a6939;
    color: #004C1F;
}

#product-info{
    margin:1rem 12rem 2rem 12rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4E4E4E;

}

.review-1{
    background-color: #F3F4E5;
    width: 677px;
    height: 175px;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.review-1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #2E2E2E;
}

.review-info{
    display: flex;
    align-items: center;
}

.review-info img{
    width: 48px;
    height: 48px;
    border-radius:50%;
    margin-right: 8px;
}

.review-info p{
    margin-right: 8px;
}

.review-info i{
    width: 16px;
    height: 16px;
    opacity: 0.99px;
    color: #2E2E2E;
    font-size: 16px;
}

#black-star{
    color: #E4E4E4;
}

.my-customer-review-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-customer-review{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #2E2E2E;
}

.learn-btn {
    width: Hug (168.63px)px;
    height: Hug (44px)px;
    padding: 10px 14px 10px 14px;
    gap: 8px;
    border-radius: 37.44px;
    border: 1.97px solid #2E2E2E;
    color: #2E2E2E;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.learn-btn:hover {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding: 40px;
    border: 2px solid #004C1F;
    background-color:#004C1F;
    color: #FFFFFF;
    width: 128.17px;
    height: 40.76px;
    padding: 7.88px 15.76px 7.88px 15.76px;
    gap: 7.88px;
    border-radius: 41.38px;
    cursor: pointer;
    transition: 0.3s;
}
    
.arrow {
    position: absolute;
    top: 60%;
    right: 1px;
    transform: translateY(-50%);
    margin-left: 10px;
}

.more-review{
    display:flex;
    justify-content: center;
}

.container {
    width:1200px;
    margin: 20px auto;
  }
  
  .container .heading {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .container .accordion-wrapper {
    padding: 0 20px;
  }
  
  .container .accordion {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .container .accordion.active .accordion-heading {
    background: #F3F4E5;
    color: #2E2E2E;
  }
  
  .container .accordion.active .accordion-heading i {
    color: #2E2E2E;
    transform: rotate(180deg);
    transition: transform 0.2s 0.1s;
  }
  
  .container .accordion.active .accordion-content {
    display: block;
  }
  
  .container .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #F3F4E5;
    border: 1px solid #F3F4E5;
    border-radius: 14px;
    padding: 15px 20px;
  }
  
  .container .accordion-heading h3 {
    font-size: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

  }
  
  .container .accordion-content {
    padding: 15px 20px;
    border: 2px solid #F3F4E5;
    border-radius: 0px 0px 14px 14px;
    font-size: 15px;
    background:#F3F4E5;
    border-top: 0;
    display: none;
    animation: animate 0.2s linear backwards;
    line-height: 2;
    transform-origin: top;
  }
  
  @keyframes animate {
    0% {
      transform: scaleY(0);
    }
  }

  .faq{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  .other-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 90px;
  }

  .my-products{
    display:flex;
  }

  #other-products{
    margin-top: 70px;
    margin-bottom: -20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #2E2E2E;
  }

.cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-info img{
    width: 104px;
    height: 127px;
    border-radius: 16px;   
}

.cart-info{
    display: block;
    margin-top: 12rem;
    margin-right: 12rem;
    margin-left: 30rem;
    width: 40%;
    border:1px solid #2E2E2E;
    padding: 25px;
    border-radius: 13px;
}

.cart-info i{
    text-align: center;
    position: relative;
    left:98%;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer{
    background-color:#D7E5BE;
    margin-top: 40px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.footer-info-1{
    padding-left: 300px;
    display: flex;
}

.footer-info-1 a{
    text-decoration: none;
    color: #060606;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    padding-right: 150px;
}

.footer-info-1 a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    transition: 0.2s;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    padding-right: 150px;
}


.footer-info-2{
    display: flex;
    flex-direction: row;
    padding-left: 420px;
    background-color: #D7E5BE;
    padding-top: 40px;
}

.footer-info-2-link{
    display: flex;
    flex-direction: column;
}

.footer-info-2-link a{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.footer-info-2-link a:hover{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #004C1F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.footer-info-2-link-contact{
    display: flex;
    flex-direction: column;
    margin-left: -35px;
    margin-right:95px ;
}

.footer-info-2-link-contact a{
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer-info-2-link-contact a:hover{
    padding-bottom: 10px;
    color: #004C1F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}


.footer-info-2-link-newsletter{
    display: flex;
    flex-direction: column;
}   

.footer-info-2-link-newsletter input{
    border: none;
    width: 360.58px;
    height: 60.1px;
    top: 205px;
    left: 941px;
    padding: 14.78px 37.44px 13.79px 31.53px;
    border-radius: 16px;
    outline: none;    
}

.footer-info-2-link-newsletter::placeholder{
    font-size: 15.76px;
    font-weight: 400;
    line-height: 23.64px;
    text-align: left;
    color: #000000;
}


.footer-info-2-link-newsletter a{
    padding-right: 140px;
    padding-bottom: 10px;
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}   

#newsletter-button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

#subscribe{
    display: flex;
    flex-direction: column;
}

.subscribe-btn{
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding: 40px;
    border: 2px solid #2E2E2E;
    background-color:#004C1F;
    color:#FFFFFF;
    width: 50px;
    height: 39.76px;
    padding: 7.88px 15.76px 7.88px 15.76px;
    gap: 7.88px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-detail{
    color: #060606;
    font-size: 15.76px;
    font-weight: 500;
    line-height: 23.64px;
    text-align: left;
    background-color:#D7E5BE;
    color: #060606;
    padding-left: 20px;
    padding-bottom: 20px;
    padding: 30px;
    font-weight: bold;
}

.footer img{
    margin-left: 20px;
    width: 37px;
    height: 56px;
}




