@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.html{
    scroll-behavior: smooth;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./images/background-image.jpeg);
    background-position: center;
    background-size:cover;
}

#nav-bar{
    display: flex;
    align-items: center;
    margin: 5rem 12rem 5rem 12rem;
    padding:1rem;
    justify-content: space-between;
    border: 2px solid #004C1F;
    border-radius: 60px;
    background-color: white;
    font-size: 20px;
}

#nav-bar img{
    width: 37px;
    height: 56px;
}

#nav-bar h5{
    color:#004C1F;
    margin-left: -200px;
}

#nav-bar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
    font-weight: bold;
}

#nav-bar ul li a{
    text-decoration: none;
    color: black;
}

#nav-bar ul li a:hover{
    text-decoration: none;
    color: #004C1F;
    font-weight: bold;
    position: relative;
    top: -5px;
    transition: 2s;
}

#btn-1{
    border: 3px solid green;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (94px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 34px;
    border: 2px solid #004C1F ;
    }

#btn-1:hover{
    background-color:#004C1F;
    color:#FFFFFF;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (94px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 34px;
    border: 2px solid #004C1F ;
    transition: 0.3s;
    }

#btn-2{
    border:none;
    background-color: #004C1F;
    color:#EBFDD3;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

#btn-2:hover{
    border:2px solid #004C1F;
    background-color: #FFFFFF;
    color:#004C1F;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: Hug (80px)px;
    height: Hug (40px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 35px;
    margin-right: -190px;
}

.signup-info{
    display: flex;
    justify-content: space-between;
    margin-left: 12rem;
    margin-right: 12rem;
}


.signup-form{
    display:block;
}

.personal-info-1{
    display: none;
}

.personal-info-2{
    display: none;
}

.signup-image img{

    Width:568px;
    Height:540px;
    /* padding: 507px 443.25px 14.5px 16px; */
    border-radius: 16px;
}

.sign-up-result-1{
    text-align: center;
    width: 567px;
    height: 534px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 37rem;
    margin-right: 37rem;
}

.sign-up-result-1 p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #2E2E2E;
}

.sign-up-result-1 h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
    color: #2E2E2E;
}

.sign-up-result-1 i{
    font-size: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #004C1F;
}

.failed i{
    color: #FF0000;
}


.failed{
    display: none;
}

.my-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-btn{
    margin-right: 20px;
    width: 300px;
    height: Fixed (56px)px;
    top: 478px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    background-color:#004C1F;
    color: #F3F4E5;
}

.update-btn:hover{
    margin-right: 20px;
    width: 300px;
    height: Fixed (56px)px;
    top: 478px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    background-color:#F3F4E5;
    color: #004C1F;
    transition: 0.3s;
}

.add-later-btn{
    margin-right: 20px;
    width: 300px;
    height: Fixed (56px)px;
    top: 478px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    background-color:#F3F4E5;
    color: #004C1F;
}

.add-later-btn:hover{
    margin-right: 20px;
    width: 300px;
    height: Fixed (56px)px;
    top: 478px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    background-color:#004C1F;
    color: #F3F4E5;
    transition: 0.3s;
}

.sign-up-result-1 h4{
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;
}



.progress-bar{
    display: flex;
    flex-direction: row;
    width: 700px;
}

.progress{
    display: flex;
    flex-direction: row;
    width: 700px;
    /* justify-content:space-between; */
}

#chart{
    width: 173px;
    height: 8px;
    top: 38px;
    border-radius: 70px;
    margin-right: 100px;
    margin-bottom: 40px;
    color:#D7E5BE;    
    background-color: #D7E5BE;
}

.progress-bar h5{
    margin-bottom: 10px;
    margin-right: 120px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.signup-form h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #2E2E2E;
    margin-bottom: 20px;
}

.name{
    display: flex;
    /* justify-content: space-between; */
}

.name label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #2E2E2E;
}

.name input{
    width: 300px;
    height: Hug (46px)px;
    padding: 11px;
    margin-right: 50px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #4E4E4E;
}

.name input::placeholder{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #4E4E4E;
}

.other-info{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
}

.other-info label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #2E2E2E;
}

.other-info input{
    width: 300px;
    height: Hug (46px)px;
    padding: 11px;
    margin-right: 50px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #4E4E4E;
}

.other-info input::placeholder{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #4E4E4E;
}

.signup-form button{
    width: 650px;
    height: Fixed (56px)px;
    top: 260px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    margin-top:40px ;
    background-color: #004C1F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #F3F4E5;
}

.signup-form button:hover{
    width: 650px;
    height: 60px;
    top: 260px;
    padding: 11px;
    gap: 10px;
    border-radius: 8px;
    margin-top:40px ;
    background-color: #004C1F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #F3F4E5;
}

.signup-form h4{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #000000;
    text-align: center;
    padding-top: 30px;
}
.signup-form a{

    color: #004C1F;
}

.signup-form a:hover{
    font-weight: bold;
    color: #004C1F;
}

@media (max-width: 1900px){
    body{
        overflow-x: hidden;
    }

    li{
       list-style: none; 
    }

    a{
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
    }

    a:hover{
        text-decoration: none;
        color: #004C1F;
        font-weight: bold;
        position: relative;
        top: -5px;
        transition: 2s;
    }

    .space{
        margin-bottom: 2rem;
    }

    .navbar {
        width: 80%;
        height: 76px;
        max-width: 1200px;
        margin-left:7rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 81px;
        border: 1px solid #004C1F;
    }

    .navbar .logo a{
        font-size: 1rem;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .logo img{
        width: 37px;
        height: 56px;
    }

    .navbar .links{
        display: flex;
    }

    .links li a{
        display: inline;
        margin-right: 30px;
        font-weight: 500;
        justify-content: space-between;

    }

    .action_btn:hover{
        scale: 1.05;
        transition: 0.5s;
        color:#fff;
        background-color: #004C1F;
    }

    .action_btn{
        border: 3px solid green;
        background-color: white;
        color: black;
        border-radius: 30px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (74px)px;
        height: Hug (37px)px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        border-radius: 35px;
        border: 1px solid #004C1F ;
        margin-left: -9rem;
    }

    .action_btn-1{
        background-color:#004C1F;
        color: #fff;
        border-radius: 30px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (74px)px;
        height: Hug (37px)px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        border-radius: 35px;
        border: 1px solid #004C1F ;
    }

    .action_btn-1:hover{
        scale: 1.05;
        transition: 0.5s;
        color:#004C1F;
        background-color: #fff;
    }

    .toggle_btn{
        display: none;
    }

    .progress-bar h5{
        margin-top: -10px;
        font-size: 14px;
    }

    .progress{
        width: 400px;
    }

    .progress-bar h5{
        margin-right: 60px;
    }

    .signup-info{
        margin-left: 7rem;
        margin-right: 12rem;
    }

    .signup-form{
        margin-right: -8rem;
    }

    .name{
        margin-bottom: -1rem;
    }

    .firstname input{
        margin-bottom: 1.5rem;
        width: 200px;
    }

    .firstname input::placeholder{
        font-size: 14px;
    }

    .phonenumber input{
        margin-bottom: 1.5rem;
        width: 200px;
    }

    .phonenumber input::placeholder{
            font-size: 14px;
    }

    .lastname input{
        width: 200px;
    }

    .lastname input::placeholder{
        font-size: 14px;
    }

    .email input{
        width: 200px;
    } 

    .email input::placeholder{
        font-size: 14px;
    }

    .signup-info button, .personal-info-1 button, .personal-info-2 button{
        width: 28rem;
        margin-top: 1rem;
    }

    .signup-info button:hover, .personal-info-1 button:hover, .personal-info-2 button:hover{
        width: 28rem;
    }

    .signup-info h4, .personal-info-1 h4, .personal-info-2 h4{
        margin-left: -16rem;
        margin-top: -1rem;
    }

    .signup-image img{
        width: 510px;
        height: 480px;
        top: 161px;
        left: 460px;
        border-radius: 16px;
    }

}

@media (max-width: 1200px){
    body{
        overflow-x: hidden;

    }

    header{
        height: 100vh;
        background-image: url(images/background-image.jpeg);
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 0 2rem;
    }

    li{
       list-style: none; 
    }

    a{
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
    }

    a:hover{
        text-decoration: none;
        color: #004C1F;
        font-weight: bold;
        position: relative;
        top: -5px;
        transition: 2s;
    }

    .space{
        margin-bottom: 2rem;
    }

    .navbar {
        width: 77%;
        height: 76px;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 81px;
        margin-left: 6rem;
        margin-bottom: 1rem;
    }

    .navbar .logo a{
        font-size: 1rem;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .navbar .links{
        display: flex;
        gap: 2rem;
    }

    .links li a{
        display: inline;
        margin-right: 40px;
        font-weight: 500;
        justify-content: space-between;

    }

    .action_btn:hover{
        scale: 1.05;
        transition: 0.5s;
        color:#fff;
        background-color: #004C1F;
    }

    .action_btn{
        border: 3px solid green;
        background-color: white;
        color: black;
        border-radius: 30px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (74px)px;
        height: Hug (37px)px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        border-radius: 35px;
        border: 1px solid #004C1F ;
        margin-left: -2rem;
    }

    .action_btn-1{
        background-color:#004C1F;
        color: #fff;
        border-radius: 30px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        width: Hug (74px)px;
        height: Hug (37px)px;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        border-radius: 35px;
        border: 1px solid #004C1F ;
    }

    .action_btn-1:hover{
        scale: 1.05;
        transition: 0.5s;
        color:#004C1F;
        background-color: #fff;
    }

    .name{
        flex-direction: column;
    }

    .other-info{
        flex-direction: column;
    }

    .firstname input{
        margin-bottom: 1.5rem;
        width: 400px;
    }

    .firstname input::placeholder{
        font-size: 14px;
    }

    .phonenumber input{
        margin-bottom: 1.5rem;
        width: 400px;
    }

    .phonenumber input::placeholder{
            font-size: 14px;
    }

    .lastname input{
        width: 400px;
    }

    .lastname input::placeholder{
        font-size: 14px;
    }

    .email input{
        width: 400px;
    } 

    .email input::placeholder{
        font-size: 14px;
    }

    .signup-info button, .personal-info-1 button, .personal-info-2 button{
        width: 400px;
        margin-top: 1rem;
    }

    .signup-info button:hover, .personal-info-1 button:hover, .personal-info-2 button:hover{
        width: 13rem;
    }

    .signup-info h4, .personal-info-1 h4, .personal-info-2 h4{
        margin-left: -28rem;
        margin-top: -1rem;
    }

    .signup-image img{
        margin-top: 5rem;
        margin-left: -15rem;
        width: 450px;
    }
}

@media (max-width:1024px){
    body{
        overflow-x: hidden;
    }

    .links li a, .action_btn-1, .action_btn{
        display: none;
    }

    .navbar{
        margin-left: 6rem;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .dropdown_menu li a{
        display: block;
    }

    .signup-image img{
        display: none;
    }

    .firstname input{
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .firstname input::placeholder{
        font-size: 14px;
    }

    .phonenumber input{
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .phonenumber input::placeholder{
            font-size: 14px;
    }

    .lastname input{
        width: 100%;
    }

    .lastname input::placeholder{
        font-size: 14px;
    }

    .email input{
        width: 100%;
    } 

    .email input::placeholder{
        font-size: 14px;
    }

    .signup-info button, .personal-info-1 button, .personal-info-2 button{
        width: 100%;
        margin-top: 1rem;
    }

    .signup-info button:hover, .personal-info-1 button:hover, .personal-info-2 button:hover{
        width: 100%;
    }
    .signup-info h4, .personal-info-1 h4, .personal-info-2 h4{
        text-align: center;
    }
}

@media (max-width: 578px) {
    body{
        margin-left: 2rem;
    }

    .navbar {
        margin:0;
        padding: 1rem;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        width: 19rem;
    }

    #left-space {
        margin-left:3.5rem;
        font-size: 16px;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu li a{
        display: block;
    }

    .dropdown_menu{
        position: absolute;
        padding: 1rem;
        right: 3rem;
        top: 150px;
        height: 75vh;
        width: 19rem;
        background: rgba(255, 255, 255, 0.425);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
    }

    .dropdown_menu .open{
        height: 100px;
    }

    .dropdown_menu li a{
        padding: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        color:#000000;
    }

    .dropdown_menu .action_btn-1{
        width: 50%;
        justify-content: center;
        display: flex;
        margin-left: 4rem;
    }

    .dropdown_menu .action_btn{
        width: 50%;
        justify-content: center;
        display: flex;
        margin-top: 20px;
        margin-left: 4rem;
    }

    #nav-bar ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-bar ul li {
        padding: 5px 10px;
        font-size: 14px;
    }

    #btn-1, #btn-2 {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .signup-info {
        flex-direction: column;
        align-items: center;
    }

    .signup-image img {
        width: 100%;
        height: auto;
    }

    .sign-up-result-1, .failed {
        width: 100%;
        margin: 0;
    }

    .sign-up-result-1 p, .sign-up-result-1 h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .sign-up-result-1 i {
        font-size: 200px;
    }

    .failed i {
        color: #FF0000;
    }

    .my-button {
        flex-direction: column;
    }

    .update-btn, .add-later-btn {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .progress-bar {
        width: 100%;
    }

    .progress-bar h5 {
        margin-right: 0;
        font-size: 14px;
    }

    .signup-form h1 {
        font-size: 20px;
    }

    .name input, .other-info input {
        width: 19rem;
    }

    .signup-form button {
        width: 19rem;
        font-size: 14px;
        padding: 10px;
    }

    .signup-form button:hover{
        width: 19rem;
    }

    .signup-form h4 {
        font-size: 14px;
        padding-top: 20px;
        margin-left:-7rem;
    }
}
